@model RedBadgeFinal.Models.Models.BlogModel.BlogDetails

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>

<div>
    <h4>@Model.Description</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <h1>Events for @Model.Title </h1>
    <div class="d-flex flex-row flex-wrap">
        @foreach (var evententity in Model.EventEntities)
        {
           <div class="eventDetails">
               <div class="post">
                   <h4>@evententity.Title</h4>
                   <img src="@evententity.Image" width="400px" height="400px">
                   <p>@evententity.Description</p>
               </div>
               <div>
                   <p> @evententity.Location</p>
                   <a class="nav-link text-dark" asp-area="" asp-controller="Participants" asp-action="Index">Participants>Participants for Event Number @evententity.Id</a>
               </div>
           </div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    <a asp-action="Index">Back to List</a>
</div>
